/*! debug. Include only in development to see results more quickly */
/* @import '../wc-word-count/src/wc-word-count.css'; */
/* @import '../wc-back-to-top-btn/src/wc-back-to-top-btn.css'; */

html {
  box-sizing: border-box;
  font-family: sans-serif;
}
main {
  margin: 0 auto;
}

:root {
  --primary: #2b2a33;
  --secondary: #42414d;
  --background: #fbfbfe;
}

body {
  background-color: var(--background);
  color: var(--primary);
}

/* ********* */
/* Dark mode */
/* ********* */
@media (prefers-color-scheme: dark) {
  :root {
    --primary: #fbfbfe;
    --secondary: #252727;
    --background: #2b2a33;
  }
  body {
    background: var(--background);
    color: var(--primary);
  }
  article {
    border-color: #aaa;
  }
}
